#top {
  background-color: lightgrey;
  float: left;
  width: 100%;
  margin-top: -10px;
}
#side {
  background-color: lightgrey;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  display: inline-block;
}
#head {
  text-align: center;
}
#page {
  margin-left: 50px;
  vertical-align: top;
  display: inline-block;
}
